$def with (todos, form)

<div id="main">
    <img src="https://clusterhq.com/assets/images/flocker-stamp.png" alt="Focker" style="width:230px;height:220px;">
    <table>
        <tr>
            <th>What to do ?</th>
            <th></th>
        </tr>
    $for todo in todos:
        <tr>
            <td>$todo.title</td>
            <td>
                <form action="/del/$todo.id" method="post">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>    
    </table>  

    <form action="" method="post">
    $:form.render()
    </form>
</div>

